body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(rgb(219, 119, 52) 21%, gray, skyblue, lightblue);
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/*Encabezado*/
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 100px;
  border-radius: 5px;
}
nav ul,
.Seccion1 ul,
.Arcoiris ul,
.ConjuntoTri ul {
  display: flex;
  margin-top: 15px;
  list-style: none;
}
ul a {
  text-decoration: none;
}
.Secciones {
  list-style: none;
  background-color: rgb(92, 88, 88);
  color: white;
  margin-top: 20px;
  margin-right: 50px;
  font-size: 17px;
  padding: 3px 5px;
  font-family: "Poppins", sans-serif;
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 2px 0px 5px;
}
.Secciones:hover {
  background-color: rgba(92, 88, 88, 0.767);
  box-shadow: none;
}
#Lugar_Actual {
  background-color: white;
  color: black;
}
.Lugar_Actual:hover {
  background-color: rgba(255, 255, 255, 0.815);
  text-decoration: none;
}
.logo {
  width: 150px;
  height: 150px;
}
.Red {
  margin-right: 300px;
  display: flex;
}
.Red li {
  list-style: none;
  margin-right: 50px;
}
.Red-social {
  width: 40px;
  height: 40px;
}
#Twitter {
  width: 60px;
  height: 45px;
}

/*Página de Inicio*/
/*Titular*/

.texto_inicio {
  text-align: center;
  font-family: "Poppins", sans-serif;
  border: 2px solid black;
  border-radius: 100%;
  margin: 0px 300px;
  margin-top: 50px;
  background-color: white;
}
.texto_inicio h1 {
  font-size: 25px;
  margin: 0;
  margin-top: 20px;
  text-shadow: 1px 0px 4px black;
}
.texto_inicio h2 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 20px;
}

/*Tenis de Inicio*/

.nombretenisinicio {
  font-weight: 900;
  transform: rotate(-30deg);
  margin-top: 100px;
  position: relative;
  right: 100px;
}
.precio {
  position: relative;
  top: 40px;
  right: 220px;
}
#preciopreciso {
  margin-bottom: 60px;
}
#DB17 {
  position: relative;
  top: 25px;
}
.Seccion1 {
  position: relative;
  left: 80px;
}
.SeccionInicio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
.Tenis_Azul {
  display: flex;
  align-items: center;
}
section ul {
  justify-content: space-around;
  margin-right: 100px;
  position: relative;
  bottom: 30px;
}
.CompraInicio {
  color: white;
  background-color: rgb(47, 47, 58);
  font-size: 17px;
  padding: 3px 5px;
  font-family: "Poppins", sans-serif;
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 2px 0px 5px black;
  justify-content: space-around;
}
.CompraInicio:hover {
  background-color: rgb(34, 34, 43);
  box-shadow: none;
}
#CompraDB21 {
  position: relative;
  right: 70px;
  bottom: 10px;
}

/*Página de Sobre Nosotros*/

.Nosotros {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
}
.Nosotrostexto {
  width: 60%;
  font-size: 20px;
}

/*Tenis de Sobre Nosotros*/
.Arcoiris h3 {
  text-align: center;
  margin-bottom: 35px;
  margin-top: -35px;
}
.Arcoiris ul {
  position: relative;
  left: 30px;
}
.DescuentoNosotros {
  position: relative;
  right: 70px;
}
.DescuentoNosotros h4 {
  color: white;
  background-color: red;
  padding: 10px 20px;
  border-radius: 50%;
}
.TenisTri {
  position: relative;
  left: 900px;
  bottom: 190px;
  display: flex;
}
.TenisRD {
  margin-bottom: -60px;
}
#BtRD {
  position: relative;
  left: 20px;
  margin-top: 30px;
}
/*Página de Ayuda*/
/*Sección de Ayuda*/

.Contenedor-Ayuda {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Ayuda {
  background-color: black;
  color: white;
  width: 320px;
  border-radius: 1%;
  padding-top: 1px;
  margin-top: 20px;
  margin-left: 10px;
}

.Ayuda h3 {
  margin: 0;
  margin-top: 10px;
  margin-left: 5px;
}

.Ayuda ul {
  list-style: none;
  margin: 0;
}

.Ayuda ul li {
  margin-top: 20px;
}
.Ayuda ul li a{
  color: white;
}
.Ayuda ul li:hover {
  margin-left: 10px;
}

/*Sección de Formulario*/

.Formulario {
  width: 70%;
  align-items: center;
}

p {
  margin-right: 10px;
}

.Formulario1 {
  border: 2px solid black;
  border-radius: 5%;
  width: 70%;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 110px;
}
legend {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
label {
  font-weight: bold;
}
input,
textarea {
  width: 300px;
  height: 30px;
  border: 2px solid black;
  border-radius: 1%;
}
label,
.Formulario1 input,
.Formulario1 textarea {
  margin-top: 20px;
  margin-left: 10px;
}
form a {
  text-decoration: none;
  margin-left: 500px;
  position: relative;
  bottom: 50px;
}

/*Compra*/
/*Formulario de Compra*/

.Formulario2 {
  border: 2px solid black;
  border-radius: 5%;
  margin-top: 50px;
}
.Formulario2 input {
  margin-top: 20px;
  margin-left: 10px;
  outline: none;
  border-radius: 2%;
}
.Contenedor-Formulario2 {
  margin: 0 390px;
  margin-bottom: 5px;
}

#ConfirmarBT {
  padding: 5px;
  position: relative;
  bottom: 100px;
  left: 25px;
}

/*Sección de Buscador*/

.Productos {
  background-color: black;
  color: white;
  width: 380px;
  border-radius: 1%;
  padding-top: 1px;
  margin-top: 20px;
  margin-left: 10px;
  align-items: center;
}
.Productos input {
  margin: 5px;
  outline: none;
  font-size: 1rem;
}
.Productos h3 {
  margin-left: 5px;
}
.Contenedor-Producto {
  display: flex;
}

/*Seccion de Productos*/

.contenedor_compra {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}
.contenedor_productos {
  text-align: center;
  justify-content: space-around;
  width: 30%;
}
.CompraPBT {
  color: white;
  background-color: rgb(47, 47, 58);
  font-size: 17px;
  padding: 3px 5px;
  font-family: "Poppins", sans-serif;
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 2px 0px 5px black;
  position: relative;
  bottom: 55px;
  text-decoration: none;
}
.CompraPBT:hover {
  background-color: rgb(34, 34, 43);
  box-shadow: none;
}
.NombreP {
  position: relative;
  bottom: 30px;
}
.PrecioP {
  position: relative;
  bottom: 50px;
}

/*Filtro de Búsqueda*/

.filtro {
  display: none;
}
/*Dudas y Problemas*/
.Contenedor-Info-Principal {
  margin-top: 50px;
}
.Contenedor-Info-Principal h1{
text-align: center;
}
.Contenedor-Info{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Ayudainfo{
  width: 40%;
  background-color: lightgrey;
  margin: 20px;
  padding: 10px 5px;
  text-align: center;
  border: 2px solid black;
  border-radius: 2%;
}
span {
  font-weight: bold;
}